body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #e2e2e2;
}

.chat-container {
    width: 100%;
    max-width: 700px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.rules-bar{
    background:#f8f9fa;
    padding:8px;
    border-radius: 0 0 10px 10px;
}

.chat-header {
    text-align: center;
    padding: 20px;
}

#chat-box {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}

.message {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

.message-chat {
    justify-content: flex-start;
}

.message-user {
    justify-content: flex-end;
}

.text-message {
    background-color: #f2f2f2;
    padding: 10px 14px;
    border-radius: 12px;
    max-width: 80%;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.message-user .text-message {
    background-color: #c2c2c2;
}

.message-chat .text-message {
    max-width: 100%;
}

.chat-input {
    padding: 15px;
    padding-top: 30px;
}

#prompt {
    resize: none;
    overflow: hidden;
    min-height: 40px;
    max-height: 120px;
    padding: 10px;
}


/* loading message */
.loading {
    background-color: #f2f2f2;
    padding: 20px 10px;
    max-width: max-content;
    border-radius: 12px;
    display: flex;
    gap: 5px;
}

.dot {
    background-color: #aaa;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    animation: animate 0.6s ease-in-out infinite alternate;
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes animate {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-6px);
    }
}
